<header>
    <div class="px-3 py-2 text-bg-dark border-bottom">
      <div class="container-fluid">
        <form #mainForm="ngForm" (ngSubmit)="recordTime()">
            <div class="d-flex flex-wrap justify-content-center justify-content-lg-start">
                <div class="col" id="clock">
                    <!-- timer-->
                    <span id="timer">
                      {{ model.timerValueSeconds | secondsToDateTime | date:'HH:mm:ss' }}
                    </span>
                </div>
                <div class="col-8" id="task">                    
                    <input name="task"
                    [(ngModel)]="model.title" />
                </div>
                <div class="col" id="submit">
                    <!-- buttons -->
                    <button type="submit">Record</button>
                </div>
    
            <!-- tabs: Home, Report, Settings -->
            <!-- <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li>
              <a href="#" class="nav-link text-secondary">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#home"></use></svg>
                Home
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#speedometer2"></use></svg>
                Dashboard
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#table"></use></svg>
                Orders
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#grid"></use></svg>
                Products
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#people-circle"></use></svg>
                Customers
              </a>
            </li>
          </ul> -->
            </div>
        </form>
    </div>
    </div>

  </header>